//sets font color based on the background's darkness
@function set-font-color($bcolor) {
	@if (lightness($bcolor) > 50) {
		@return #000;
	} @else {
		@return #fff;
	}
}

//centers element right on the center, the parent needs to be Positioned relative.
@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
