// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	#showcase {
		height: 550px;
		text-align: center;

		.display-2 {
			font-size: 2rem;
			font-weight: bold;
		}
	}

	#newsletter {
		.form-control,
		button {
			margin: 0 0 1rem 0;
		}
	}

	#boxes {
		.card {
			margin-bottom: 1rem;
		}
	}
}

@include media-breakpoint-down(md) {
	#showcase {
		min-height: 500px;

		h1 {
			font-size: 4rem;
		}
	}

	#boxes {
		.card {
			margin-bottom: 1rem;
		}
	}
}
